td.sel_date.date_4 a.ui-state-default {
    background: #91e6ff;
}

td.sel_date.date_1 a.ui-state-default {
    background: #9199ff;
}

td.sel_date.date_2 a.ui-state-default {
    background: #f3ff63;
} 

td.sel_date.date_3 a.ui-state-default {
    background: #bfff57;
} 

td.sel_date a.ui-state-default {
    background: #fff;
}

input.invalid {
    background: #ffcccc;
}

#ui-datepicker-div {
    display: none;
}